html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 400px;
        width: 500px;
      }
      #alpaca {
        height: 400px;
        width: 500px;
      }
      .floatLeft {
        float:left;
      }

      #trianglify {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;    
        background-color: purple;
}
